<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/">BurgerKing</a>
        </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
	<% if (login === true) { %>
         <%var url = "/cart" %>
          <a href="<%= url %>">
            <i class="fa fa-shopping-cart" aria-hidden="true" color:white"></i> Cart
              <span class="badge"><%= cartQuantity %></span>
          </a>
	<% } %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> Your Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <%if (login === true) { %>
	      <li><a href="/">Home</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/orders">My Orders</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/logout">Logout</a></li>
            <% } else { %>
              <li><a href="/signin">Sign In</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/signup">Sign Up</a></li>
            <% } %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
